/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
 body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* Start Screen */

.start-screen{
    position: absolute;
    top: 250px;
    left: 450px;
    padding: 10px;
    height: 25%;
    background-color: crimson

}

/* High Score */

.score-block {
    position: absolute;
    top: 2%;
    right: 2%;
  }

 

.question-box {
    position: center;
    top: 250px;
    left: 450px;
    padding: 10px;
    height: 50%;
}


/* Fixing the Image and its buttons */

.image-box {
    position: relative;
    top: 4rem;
    left: 30rem;
    width:  500px;
    height: 400px;
   
}



.quiz-button{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid #3777BC;
    margin: 20px;
    position: relative;
<<<<<<< HEAD
    color: #3777BC;
    letter-spacing: 1px;
    top: 8rem;
    left: -8rem;
    
  }
 
.quiz-button :hover{
    color: #3777BC;
}
=======
    margin: 5px;
    top: 600px;
    left: 23rem;
    font-size: 20px;

}    

.game-header-box {
display: flex;
justify-content: center;
background:  crimson;
opacity: .8;
height: 5rem;
padding: 1rem;
}

.quiz-button {
    position: relative;
    margin: 5px;
    top: 600px;
    left: 23rem;
    font-size: 20px; 
}

.image-box {
    display: flex;
    position: absolute;
    top: 150px;
    left: 350px;
    padding: 10px;
    height: 60%;
    width: 50%;

}

>>>>>>> d1174978592f150e017d44420f958722b297c00b
